<div class="container">
  <form (ngSubmit)="salvar()" [formGroup]="formulario">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de ' : 'Novo ' }} Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" name="tipo" formControlName="tipo"></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [locale]="pt" name="vencimento" formControlName="dataVencimento"></p-calendar>
        <app-message [control]="formulario.get('dataVencimento')" classes="" error="required" text="Informe a Data"></app-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ formulario.get('tipo').value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" name="pagamento" formControlName="dataPagamento" [locale]="pt"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" formControlName="descricao">

        <app-message [control]="formulario.get('descricao')" classes="" error="required" text="Informe a Descrição"></app-message>
        <app-message [control]="formulario.get('descricao')" classes="" error="minlength" text="Mínimo de {{ formulario.get('descricao').errors?.minlength?.requiredLength }} caracteres"></app-message>

      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }" pInputText
          name="valor" type="text" placeholder="0,00">
        <app-message [control]="formulario.get('valor')" classes="" error="required" text="Informe o Valor"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="categoria">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" name="categoria" formControlName="codigo" placeholder="Selecione" [autoWidth]="false"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="pessoa">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" name="pessoa" formControlName="codigo" [filter]="true" placeholder="Selecione" [autoWidth]="false"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea name="observacao" formControlName="observacao" rows="3"></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <button pButton type="button" label="Novo" (click)="novo()" class="ui-button-info"></button>
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>

</div>
