<p-table [value]="pessoas" [responsive]="true" [paginator]="true" [lazy]="true"
[totalRecords]="totalRegistros" [rows]="filtro.size" (onLazyLoad)="aoMudarPagina($event)" #tabela>

  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Cidade</th>
      <th class="col-data-header">Estado</th>
      <th class="col-data-header">Status</th>
      <th class="col-acoes-header">Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pessoa>
    <tr>
      <td><span class="ui-column-title">Nome</span>{{pessoa.nome}}</td>
      <td><span class="ui-column-title">Cidade</span>{{pessoa.endereco.cidade}}</td>
      <td><span class="ui-column-title">Estado</span>{{pessoa.endereco.estado}}</td>
      <td (click)="atualizarStatusAtivo(pessoa)"><span class="ui-column-title">Ações</span><a href="javascript:;" tooltipPosition="top" pTooltip="{{!pessoa.ativo ? 'Ativar' : 'Inativar'}}">
          {{pessoa.ativo === true ? 'Ativo' : 'Inativo'}}
        </a></td>
      <td class="col-acoes">
        <div class="ui-g">
          <div class="ui-g-6"><a pButton pTooltip="Editar Registro" tooltipPosition="top" icon="pi pi-pencil"></a></div>
          <div class="ui-g-6"><button pButton pTooltip="Deletar Registro" (click)="confirmarExclusao(pessoa)" tooltipPosition="top" icon="pi pi-trash"></button></div>
        </div>
      </td>
    </tr>
  </ng-template>

</p-table>
